* {
  padding: 0;
  margin: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  --main: #74A4C6;
  --white: #ffff;
  --bg: rgba(0, 0, 0, 0.81);
  --blvck: rgb(0, 0, 0);
  --dark_blue: #0F1115;
  --loader: #45474b;
}

.container {
  width: 1140px;
  padding: 0;
  margin: 0 auto;
}

h1, h2, h3, h4, p {
  margin: 0;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h1, h2, h3, h4, h5, .btn, button {
  font-family: 'Russo One', sans-serif;
}

p {
  font-family: 'PT Sans', sans-serif;
}

label {
  font-family: 'PT Sans', sans-serif;
}

hr {
  width: 100%;
  height: 1px;
  background-color: #363636;
}

.header {
  margin-top: 30px;
}

.home {
  margin-top: 184px;
}

.homePage {
  position: absolute;
  right: 0;
  left: 0;
  height: 100vh;
  background-color: #000;
  z-index: 2;
}

.home__descr {
  display: none;
}
.home__descr.active {
  display: block;
}
.home__descr__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.home__descr__main-text {
  font-size: 13px;
  margin-left: 9px;
  color: var(--white);
}
.home__descr__title {
  margin-bottom: 20px;
  width: 651px;
  font-weight: 400;
  font-size: 45px;
  color: var(--main);
  -webkit-animation: animate 5s infinite;
          animation: animate 5s infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}
.home__descr___paragraf {
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 22px;
  width: 725px;
  color: var(--white);
}

.home__media {
  position: absolute;
  right: 30px;
  top: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.home__media__icn {
  font-size: 1.2em;
  margin-bottom: 20px;
  color: var(--white);
  -webkit-transition: all  0.5s;
  transition: all  0.5s;
}
.home__media__icn:hover {
  -webkit-transition: all  0.5s;
  transition: all  0.5s;
  color: var(--main);
}

.home__page2 {
  display: none;
}
.home__page2.active {
  display: block;
}

.home__page3 {
  display: none;
}
.home__page3.active {
  display: block;
}

.home__descr__btn {
  text-decoration: none;
  border-radius: 5px;
  background-color: var(--main);
  color: var(--white);
  padding: 14px 32px;
  -webkit-transition: all  0.5s;
  transition: all  0.5s;
}
.home__descr__btn__link {
  text-transform: uppercase;
  font-size: 15px;
  color: var(--white);
}

.home__descr__btn:hover {
  border: 1.5px solid var(--white);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border-radius: 15px;
  background: none;
}

.hamburger {
  cursor: pointer;
  position: absolute;
  right: 30px;
  top: 30px;
  height: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.hamburger span {
  display: block;
  width: 30px;
  height: 2px;
  background: var(--white);
}
.hamburger span.longline {
  width: 36px;
}

.menu {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100;
  height: 100vh;
  z-index: 10;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}
.menu.active {
  left: 0;
  visibility: visible;
  opacity: 1;
}
.menu__block {
  position: relative;
  padding-top: 140px;
  padding-left: 50px;
  width: 345px;
  height: 100%;
  background-color: var(--dark_blue);
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  z-index: 10;
}
.menu__close {
  cursor: pointer;
  position: absolute;
  top: 25px;
  right: 25px;
}
.menu__li {
  margin-bottom: 25px;
}
.menu__link {
  text-transform: uppercase;
  font-size: 24px;
  font-family: 'Russo One', sans-serif;
  color: var(--white);
}
.menu .active {
  color: var(--main);
}
.menu__contacts {
  position: absolute;
  bottom: 90px;
}
.menu__social__link {
  font-size: 1.2em;
  color: var(--white);
  -webkit-transition: all  0.5s;
  transition: all  0.5s;
  margin-right: 15px;
}
.menu__social__link:hover {
  -webkit-transition: all  0.5s;
  transition: all  0.5s;
  color: var(--main);
}
.menu__address {
  margin-top: 30px;
}
.menu__address__icn {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10px;
}
.menu__address__loc, .menu__address p {
  font-size: 14px;
  color: var(--white);
  padding-left: 12px;
}
.menu__overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.81);
  opacity: 0.75;
}

.video__slider {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.4;
  -webkit-clip-path: circle(0% at 0 50%);
          clip-path: circle(0% at 0 50%);
}
.video__slider.active {
  -webkit-clip-path: circle(150% at 0 50%);
          clip-path: circle(150% at 0 50%);
  -webkit-transition: 1.5s ease;
  transition: 1.5s ease;
  -webkit-transition-property: -webkit-clip-path;
  transition-property: -webkit-clip-path;
  transition-property: clip-path;
  transition-property: clip-path, -webkit-clip-path;
}

.vedeo__slider2 {
  position: absolute;
  width: 100%;
  -webkit-clip-path: circle(0% at 0 50%);
          clip-path: circle(0% at 0 50%);
}

.vedeo__slider3 {
  position: absolute;
  width: 100%;
  -webkit-clip-path: circle(0% at 0 50%);
          clip-path: circle(0% at 0 50%);
}

@-webkit-keyframes animate {
  0% {
    text-shadow: 3px 3px 0px purple;
  }
  25% {
    text-shadow: -3px -3px 0px  #174f78;
  }
  25% {
    text-shadow: 3px 3px 0px purple;
  }
  25% {
    text-shadow: -3px -3px 0px #174f78;
  }
  30% {
    text-shadow: 3px 3px 0px purple;
  }
}

@keyframes animate {
  0% {
    text-shadow: 3px 3px 0px purple;
  }
  25% {
    text-shadow: -3px -3px 0px  #174f78;
  }
  25% {
    text-shadow: 3px 3px 0px purple;
  }
  25% {
    text-shadow: -3px -3px 0px #174f78;
  }
  30% {
    text-shadow: 3px 3px 0px purple;
  }
}
.home__slider {
  z-index: 888;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateY(170px);
          transform: translateY(170px);
  margin-bottom: 12px;
}
.home__slider__btn {
  cursor: pointer;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: solid 1px var(--white);
  -webkit-box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
          box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  margin-right: 20px;
}
.home__slider__btn.active {
  background: var(--main);
}
.home__slider__btn:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: black;
  z-index: 3;
  -webkit-transition: all 1.3s;
  transition: all 1.3s;
  opacity: 1;
  visibility: visible;
}
.preloader__loader {
  width: 70px;
  height: 70px;
  border: 6px solid var(--loader);
  border-top-color: var(--main);
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: 1s spin infinite linear;
          animation: 1s spin infinite linear;
}
.preloader.active {
  opacity: 0;
  visibility: hidden;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: translate(-50%, -50%) rotate(8deg);
            transform: translate(-50%, -50%) rotate(8deg);
  }
  to {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: translate(-50%, -50%) rotate(8deg);
            transform: translate(-50%, -50%) rotate(8deg);
  }
  to {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
}
.services {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  padding-top: 90px;
  padding: 0;
  background: var(--blvck);
}

.card__title {
  margin-top: 80px;
  letter-spacing: 1px;
  font-size: 30px;
  text-align: center;
  color: var(--white);
}

.card__main {
  margin-top: 80px;
}
.card__main__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card__wrapper {
  padding-bottom: 100px;
}
.card__wrapper__icn {
  padding-bottom: 10px;
}
.card__wrapper__title {
  padding-bottom: 15px;
  font-size: 25px;
  color: var(--main);
}
.card__wrapper__descr {
  font-size: 20px;
  max-width: 389px;
  color: var(--white);
}

.planet {
  padding-top: 230px;
  height: 100vh;
  background: url("/img/bg_3_section.jpg") no-repeat center top/cover;
}

.associate {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.associate__title {
  font-size: 30px;
  color: var(--white);
  letter-spacing: 0.8px;
  margin-bottom: 35px;
  text-transform: uppercase;
  -webkit-animation: animate 5s infinite;
          animation: animate 5s infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}
.associate__title__col {
  color: var(--main);
}
.associate__descr {
  margin: 0 auto;
  font-size: 20px;
  width: 580px;
  margin-bottom: 35px;
  color: var(--white);
}

.customers {
  padding-top: 150px;
  padding-bottom: 300px;
  background: var(--blvck);
}
.customers__wrappers {
  margin-top: 80px;
}
.customers__wrappers__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
}

.video {
  padding-top: 150px;
  padding-bottom: 150px;
  background: url("/img/bg_section_5-6.jpg") no-repeat center top/cover;
}
.video__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 460px;
  background-color: var(--blvck);
  border-radius: 15px;
}

.contacts {
  padding-top: 150px;
  height: 100vh;
  background: url("/img/bg_section_5-6.jpg") no-repeat center top/cover;
}
.contacts__title {
  margin: auto;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 40px;
  font-size: 20px;
  width: 440px;
  color: var(--white);
  letter-spacing: 1px;
}

.forms {
  margin: auto;
  width: 400px;
  background: radial-gradient(107.03% 101.47% at 0% 15%, #000000 0%, rgba(0, 0, 0, 0.63) 100%);
  padding: 30px;
  border-radius: 10px;
}
.forms__wrapper {
  position: relative;
}
.forms__wrapper__btn {
  width: 100%;
  color: var(--white);
  background: var(--main);
  padding: 14px 32px;
  border-radius: 5px;
  font-size: 15px;
  -webkit-transition: all  0.5s;
  transition: all  0.5s;
}
.forms__wrapper__btn:hover {
  border: 1px solid var(--white);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border-radius: 15px;
  background: none;
}
.forms__privacy {
  padding-top: 18px;
  font-size: 14px;
  text-align: center;
  color: var(--white);
  font-family: 'PT Sans', sans-serif;
}
.forms__privacy__link {
  color: var(--main);
  font-family: 'PT Sans', sans-serif;
}

.forms__wrapper input {
  width: 100%;
  padding: 10px 0;
  font-size: 15px;
  color: var(--white);
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid var(--main);
  outline: none;
  background: none;
}

.forms__wrapper label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 15px;
  color: #858585;
  pointer-events: none;
  border: none;
  -webkit-transition: .5s;
  transition: .5s;
}

.forms__wrapper input:focus ~ label, .forms__wrapper input:valid ~ label {
  top: -20px;
  left: 0;
  color: var(--main);
  font-size: 12px;
}

@media (max-width: 1040px) {
  header {
    padding: 9px 20px;
  }

  section {
    padding: 20px 20px;
  }
}
@media (max-width: 460px) {
  .container {
    width: 317px;
    margin: 0 auto;
    padding: 0;
  }

  .header {
    padding-left: 0;
    margin-top: 0;
  }

  .home__descr__title {
    font-size: 38px;
    width: 200px;
  }

  .home__title__media {
    width: 360px;
  }

  .home__descr___paragraf {
    font-size: 16px;
    width: 354px;
  }

  .home__descr__main-text {
    font-size: 10px;
  }

  .home__media {
    display: none;
  }

  .home__slider {
    bottom: 85px;
  }

  .card__main__section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-flow: column-reverse;
            flex-flow: column-reverse;
    text-align: center;
  }

  h2.card__title {
    font-size: 28px;
    margin-top: 75px;
  }

  h4.card__wrapper__title {
    font-size: 23px;
  }

  p.card__wrapper__descr {
    font-size: 17px;
  }

  h5.associate__title {
    font-size: 23px;
  }
  h5.associate__title__col {
    font-size: 23px;
  }

  p.associate__descr {
    font-size: 20px;
    width: 355px;
  }

  .customers__wrappers__card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-flow: column-reverse;
            flex-flow: column-reverse;
  }
  .customers__wrappers__card__img {
    margin-bottom: 20px;
  }

  .contacts__title {
    font-size: 16px;
    width: 300px;
  }

  .forms {
    width: 325px;
  }

  .footer__wrapper__logo {
    display: none;
  }

  a.footer__wrapper__policy {
    font-size: 12px;
  }

  a.footer__wrapper__rights {
    font-size: 12px;
  }
}
@media (max-width: 390px) {
  .container {
    width: 298px;
    margin: 0 auto;
    padding: 0;
  }

  .home__descr__title {
    font-size: 32px;
  }

  .home__title__media {
    width: 330px;
  }

  .home__descr___paragraf {
    font-size: 15px;
    width: 234px;
  }

  .home__descr__btn__link {
    font-size: 12px;
  }

  .home__slider {
    bottom: 60px;
    left: 80px;
  }

  .menu__block {
    width: 300px;
  }

  .menu__link {
    font-size: 20px;
  }

  h2.card__title {
    font-size: 24px;
  }

  h4.card__wrapper__title {
    font-size: 20px;
  }

  p.card__wrapper__descr {
    font-size: 18px;
  }

  h5.associate__title {
    font-size: 20px;
  }
  h5.associate__title__col {
    font-size: 20px;
  }

  p.associate__descr {
    font-size: 18px;
    width: 310px;
  }

  .customers__wrappers__card__img {
    width: 100%;
    height: 103px;
  }

  .contacts__title {
    font-size: 14px;
    width: 220px;
  }

  .forms {
    width: 300px;
  }

  a.footer__wrapper__policy {
    padding-right: 7px;
  }
}
.privacy__wrapper {
  margin-top: 80px;
  margin-bottom: 80px;
}
.privacy__wrapper__title {
  margin-top: 30px;
  font-size: 24px;
}
.privacy__wrapper__descr {
  margin-top: 15px;
  font-size: 16px;
}

.footer {
  height: 110px;
  width: 100%;
  font-family: 'PT Sans', sans-serif;
  text-decoration: underline;
  background: var(--blvck);
}
.footer__wrapper {
  padding-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__wrapper__policy {
  font-size: 15px;
  color: var(--white);
}
.footer__wrapper__rights {
  font-size: 15px;
  color: var(--white);
}

.scroll__top {
  position: fixed;
  bottom: 120px;
  right: 32px;
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.scroll__top.active {
  opacity: 1;
}

/*# sourceMappingURL=main.css.map */
