.customers {
    // position: absolute;
    // top: 100%;
    // left: 0;
    // right: 0;
    padding-top: 150px;
    padding-bottom: 300px;
    background: var(--blvck);
    &__wrappers {
        margin-top: 80px;
        &__card {
            display: flex;
            justify-content: space-between;
            margin-bottom: 40px;
        }
    }
}

