.footer {
    height: 110px;
    width: 100%;
    font-family: 'PT Sans', sans-serif;
    text-decoration: underline;
    background: var(--blvck);
    &__wrapper {
        padding-top: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__policy {
            font-size: 15px;
            color: var(--white);
        } 
        &__rights {
            font-size: 15px;
            color: var(--white);
        }
    }
}