.preloader {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgb(0, 0, 0);
    z-index: 3;
    transition: all 1.3s;
    opacity: 1;
    visibility: visible;
    &__loader {
        width: 70px;
        height: 70px;
        border: 6px solid var(--loader);
        border-top-color: var(--main);
        border-radius: 50%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50% , -50%);
        animation: 1s spin infinite linear;
    }
    &.active {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes spin {
    from {
        transform: translate(-50% , -50%) rotate(8deg);
    }
    to {
        transform: translate(-50% , -50%) rotate(360deg);
    }
}