.services {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    padding-top: 90px;
    padding: 0;
    background: var(--blvck);
}

.card__title {
    margin-top: 80px;
    letter-spacing: 1px;
    font-size: 30px;
    text-align: center;
    color: var(--white);
}

.card__main {
    margin-top: 80px;
    &__section {
        display: flex;
        justify-content: space-between;
    }
}

.card__wrapper {
    padding-bottom: 100px;
    &__icn {
        padding-bottom: 10px;
    }
    &__title {
        padding-bottom: 15px;
        font-size: 25px;
        color: var(--main);
    }
    &__descr {
        font-size: 20px;
        max-width: 389px;
        color: var(--white);
    }
}