.home__slider {
    z-index: 888;
    // position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(170px);
    margin-bottom: 12px;
    &__btn {
        cursor: pointer;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        border: solid 1px var(--white);
        box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
        transition: all 0.5s;
        margin-right: 20px;
        &.active {
            background: var(--main);
        }
        &:hover {
            transform: scale(1.2);
        }
    }
}