.contacts {
    padding-top: 150px;
    height: 100vh;
    background: url('/src/img/bg_section_5-6.jpg') no-repeat center top / cover;
    &__title {
        margin: auto;
        text-align: center;
        padding-top: 50px;
        padding-bottom: 40px;
        font-size: 20px;
        width: 440px;
        color: var(--white);
        letter-spacing: 1px;
    }
}

.forms {
    margin: auto;
    width: 400px;
    background: radial-gradient(107.03% 101.47% at 0% 15%, #000000 0%, rgba(0, 0, 0, 0.63) 100%);
    padding: 30px;
    border-radius: 10px;
    &__wrapper {
        position: relative;
        &__btn {
            width: 100%;
            color: var(--white);
            background: var(--main);
            padding: 14px 32px;
            border-radius: 5px;
            font-size: 15px;
            transition: all  0.5s;
            &:hover {
                border: 1px solid var(--white);
                transition: all 0.5s;
                border-radius: 15px;
                background: none;
            }
        }
    }
    &__privacy {
        padding-top: 18px;
        font-size: 14px;
        text-align: center;
        color: var(--white);
        font-family: 'PT Sans', sans-serif;
        &__link {
            color: var(--main);
            font-family: 'PT Sans', sans-serif;
        }
    }
}

.forms__wrapper input{
    width: 100%;
    padding: 10px 0;
    font-size: 15px;
    color: var(--white);
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid var(--main);
    outline: none;
    background: none;
}

.forms__wrapper label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 15px;
    color: #858585;
    pointer-events: none;
    border: none;
    transition: .5s;
}

.forms__wrapper input:focus ~ label, .forms__wrapper input:valid ~ label
{
    top: -20px;
    left: 0;
    color: var(--main);
    font-size: 12px;
}
