.header {
    margin-top: 30px;
}

.home {
    margin-top: 184px;
}

.homePage {
    position: absolute;
    right: 0;
    left: 0;
    height: 100vh;
    background-color: #000;
    z-index: 2;
}

.home__descr {
    display: none;
    &.active {
        display: block;
    }
    &__main {
        display: flex;
        &-text {
            font-size: 13px;
            margin-left: 9px;
            color: var(--white);
        }
        
    }
    &__title {
        margin-bottom: 20px;
        width: 651px;
        font-weight: 400;
        font-size: 45px;
        color: var(--main);

        animation: animate 5s infinite;
        animation-timing-function: linear;
    }
    &___paragraf {
        margin-bottom: 40px;
    
        font-weight: 400;
        font-size: 22px;
        width: 725px;
        color: var(--white);
    }

}



.home__media {
    position: absolute;
    right: 30px;
    top: 50%;
    
    display: flex;
    flex-direction: column;
    &__icn {
        font-size: 1.2em;
        margin-bottom: 20px;
        color: var(--white);
        transition: all  0.5s;
        &:hover {
            transition: all  0.5s;
            color: var(--main);
        }
    }
}


.home__page2 {
    display: none;
    &.active {
        display: block;
    }
}

.home__page3 {
    display: none;
    &.active {
        display: block;
    }
}