@media (max-width: 1040px) {
    header {
        padding: 9px 20px;
    }

    section {
        padding: 20px 20px;
    }
}

@media (max-width: 460px) {
    .container {
        width: 317px;
        margin: 0 auto;
        padding: 0;
    }

    .header {
        padding-left: 0;
        margin-top: 0;
    }

    .home__descr__title {
        font-size: 38px;
        width: 200px;
    }

    .home__title__media {
        width: 360px;
    }

    .home__descr___paragraf {
        font-size: 16px;
        width: 354px;
    }

    .home__descr__main-text {
        font-size: 10px;
    }

    .home__media {
        display: none;
    }

    .home__slider {
        bottom: 85px;
    }




    .card__main {
        &__section {
            flex-flow: column-reverse;
            text-align: center;
        }
    }

    h2.card__title {
        font-size: 28px;
        margin-top: 75px;
    }

    h4.card__wrapper__title {
        font-size: 23px;
    }

    p.card__wrapper__descr {
        font-size: 17px;
    }




    h5.associate__title {
        font-size: 23px;
        &__col {
            font-size: 23px;
        }
    }

    p.associate__descr {
        font-size: 20px;
        width: 355px;
    }




    .customers__wrappers__card {
        flex-flow: column-reverse;
        &__img {
            margin-bottom: 20px;
        }
    }




    .contacts__title {
        font-size: 16px;
        width: 300px;
    }

    .forms {
        width: 325px;
    }




    .footer__wrapper__logo {
        display: none;
    }

    a.footer__wrapper__policy {
        font-size: 12px;
    }

    a.footer__wrapper__rights {
        font-size: 12px;
    }

}


@media (max-width: 390px) {
    .container {
        width: 298px;
        margin: 0 auto;
        padding: 0;
    }

    .home__descr__title {
        font-size: 32px;
    }

    .home__title__media {
        width: 330px;
    }

    .home__descr___paragraf {
        font-size: 15px;
        width: 234px;
    }

    .home__descr__btn__link {
        font-size: 12px;
    }

    .home__slider {
        bottom: 60px;
        left: 80px;
    }

    .menu__block {
        width: 300px;
    }
    
    .menu__link {
        font-size: 20px;
    }




    h2.card__title {
        font-size: 24px;
    }

    h4.card__wrapper__title {
        font-size: 20px;
    }

    p.card__wrapper__descr {
        font-size: 18px;
    }




    h5.associate__title {
        font-size: 20px;
        &__col {
            font-size: 20px;
        }
    }

    p.associate__descr {
        font-size: 18px;
        width: 310px;
    }




    .customers__wrappers__card__img {
        width: 100%;
        height: 103px;
    }




    .contacts__title {
        font-size: 14px;
        width: 220px;
    }

    .forms {
        width: 300px;
    }




    a.footer__wrapper__policy {
        padding-right: 7px;
    }
}